/* TODO Set scss or using Styled Components */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  color: #ffffff;
  font-family: 'Anton', sans-serif;
  font-size: 48px;
  letter-spacing: 5px;
  margin: 8px 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
